html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'VT323', monospace;
    font-size: 32px;
    color: white;
}

img {
    width: auto;
    height: auto;
    align-items: center;
    border-radius: 5px;
}

section {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

p.blink {
        animation-duration: 1s;
        animation-name: blink;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    @keyframes blink {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

section2 {
    background:blue;
    float:right;
    height:40px;
}

.nav{
    list-style:none;
    margin:0;
    padding:10;
    text-align:center;
    vertical-align: top;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

/* Gradient */
#grad {
  background: #5e3f50; /* Old browsers */
  background: -moz-linear-gradient(top, #5e3f50 0%, #5e3c87 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #5e3f50 0%,#5e3c87 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #5e3f50 0%,#5e3c87 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e3f50', endColorstr='#5e3c87',GradientType=0 ); /* IE6-9 */
}

/* The sidebar menu */
.sidegif {
    position: fixed; /* Fixed (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    bottom: 0; /* Stay at the bottom */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 0px 0px 30px 20px;
    width: 160px; /* Set the width */
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #1a103d;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #d94b8b;
    display: block;
    position:relative;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #dcc677;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
