html {
  position: relative;
  min-height: 100%;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: calc(10vw + .5rem);
  line-height: 1.5em;
  font-weight: 400;
  color: #100d0f;
  background-image: url('https://jun1u5.github.io/images/2024bweb.png');
  background-size: cover;
  height: 100 vh;
  background-color: #fbf8fb;
}

#writing, #projects, #contact {
  padding-top:25px;
}

h1 {
/*  color: black; */
  font-weight: lighter;
  font-size: 400%;
}

h2 {
  font-size:small;
}

img {
    width: 25%;
    height: auto;
    align-items: center;
    border-radius: 5px;
}

p {
  font-size:1em;
}

.label {
  font-family: "Open Sans", sans-serif; 
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #100d0f;
}

section2 {
    background:blue;
    float:right;
    height:40px;
}

header {
  position: relative;
  background-color: #1a1b24;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 50%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* buttons */
button {
  display:inline-block;
  margin-bottom:0;
  font-weight:400;
  text-align:center;
  vertical-align:middle;
  -ms-touch-action:manipulation;
  touch-action:manipulation;
  cursor:pointer;
  border:1px solid transparent;
  padding:6px 12px;
  font-size:1em;
  line-height:1.42857143;
  border-radius:4px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb'; /* \1F334 */
  position: absolute;
  opacity: 0;
  top: 0;
  right:-20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.bgimg {
  width: 100%;
  height: auto;
}

/* Color Wraps */

.footer-wrap {
  display:block;
  background-color: #010000;
  min-height: 300px;
  color: #fff;
  text-align:center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
}

.footer-wrap a {
  color: #fff;
}

.footer-wrap a:hover {
  color: #fff;
}

 .social {
     -webkit-transform: scale(0.8);
      transform: scale(0.8);
     padding:20px;
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

 .social:hover {
  -webkit-transform: scale(1.1);
    transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  color:#fff;
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #fab4fc 50%);
}

/* styles.css */

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}
