<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="author" content="Brandon Jernigan" />
 <title>Brandon Jernigan, PhD</title>

<link rel="stylesheet" href="stylesheets/alt.css">
<link rel="stylesheet" href="stylesheets/pygment_trac.css">
<link rel="icon" type="image/png" href="/images/favicon.png">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<script src="javascripts/masonry.pkgd.min.js"></script>
<script src="javascripts/jquery.fancybox.js"></script>
<script src="javascripts/masonry.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--[if lt IE 9]>
 -    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 -    <![endif]-->
</head>
<body>

    <div class="wrapper">
      <header>
<h1>Brandon Jernigan</h1>
<p><a href="https://jun1u5.github.io/vita.html">Vita</a> | <a href="https://jun1u5.github.io/teaching.html">Teaching Portfolio</a> | <a href="https://jun1u5.github.io/">Home</a></p>
<hr>
<p><img src="images/Brandon_BW_Ilford2_small.JPG" alt="Brandon" width=100%>
<hr>
<p><small>Hosted on GitHub Pages<br>
Theme adapted from <a href="https://github.com/orderedlist">orderedlist</a> &amp; <a href="http://quaran.to/">qrush</a></small></p>
      </header>

       {{ content }}

      <footer>
        <div class="footer-social-icons">
            <ul class="social-icons">
                <li><a href="http://twitter.com/JUN1U5" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/jun1u5/"> <i class="fab fa-instagram"></i></a></li>
                <li><a href="http://www.linkedin.com/in/brandonjernigan" class="social-icon"> <i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://github.com/JUN1U5/" class="social-icon"> <i class="fab fa-github"></i></a></li>
            </ul>
        </div>
</div>
      </footer>
    </div>

    <script src="javascripts/scale.fix.js"></script>

<!-- google analytics -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48747048-1', 'jun1u5.github.io');
  ga('send', 'pageview');

</script>
<!-- end google analytics -->

  </body>
</html>
