<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="author" content="Izz the Unknown" />
 <title>Izz the Unknown</title>
 
<link rel="stylesheet" href="stylesheets/styles.css">
<link rel="stylesheet" href="stylesheets/pygment_trac.css">
<link rel="icon" type="image/png" href="/images/favicon.png">

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--[if lt IE 9]>
 -    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 -    <![endif]-->
</head>
<body>
<body background="https://farm4.staticflickr.com/3594/3403171410_41e23bd7eb_o.jpg">
    <div class="wrapper">
      <header>     
<h1>Izz the Unknown</h1>
<p>
<a href="https://soundcloud.com/izzunknown/"><img src="http://icons.iconarchive.com/icons/designbolts/hexagonal-social/96/Sound-Cloud-icon.png" alt="Izz the Unknown on Soundcloud"</a>
<a href="https://twitter.com/izz_101"><img src="http://icons.iconarchive.com/icons/designbolts/hexagonal-social/96/Twitter-icon.png" alt="Izz the Unknown on Twitter"</a>
<a href="http://instagram.com/izztheunknown"><img src="http://icons.iconarchive.com/icons/designbolts/hexagonal-social/96/Instagram-icon.png" alt="Izz the Unknown on Instagram""</a>
</p>
<hr>
<p><img src="/images/izz_bw.JPG" alt="Izz the Unknown" width=100%>
      </header>
       
       {{ content }}
      
      <footer>
        <p><small>Hosted on GitHub Pages<br>
Theme adapted from <a href="https://github.com/orderedlist">orderedlist</a> &amp; <a href="http://quaran.to/">qrush</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  
<!-- google analytics -->

<!-- end google analytics -->

  </body>
</html>