<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Brandon Jernigan" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/stylsheets/post.css">
  <link rel="stylesheet" href="/stylesheets/post.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,800,400' rel='stylesheet' type='text/css'>
  <link rel="image_src" href="{{ page.thumbnail }}" />

<div id="home-link">
	<a href="/"><i class="icon-double-angle-left"></i></a>
</div>

</head>

<body id="{{ page.tags }}">
  <section id="content">
    <header>
      <h1><a href="#">{{ page.title }}</a></h1>
    </header>
    <article>
      {{ content }}
    </article>
    <footer>
    <hr />
      <div class="site">
<div class="title">
<p><a href="https://jun1u5.github.io/vita.html">Vita</a> | <a href="https://jun1u5.github.io/teaching.html">Teaching Portfolio</a> | <a href="https://jun1u5.github.io/">Home</a></p>
<a href="http://www.linkedin.com/in/brandonjernigan"> <img src="http://icons.iconarchive.com/icons/designbolts/flat-social-media/64/Linkedin-icon.png"></a>
<a href="https://github.com/JUN1U5/"><img src="http://icons.iconarchive.com/icons/designbolts/flat-social-media/64/Github-icon.png"></a></p>
<!-- social icons by DesignBolts http://www.iconarchive.com/show/flat-social-media-icons-by-designbolts.html --></p>
</div>
    </footer>
  </section>
</body>
</html>

<!-- post.css and _layout adapted from http://quaran.to/ -->
